@charset "utf-8"
/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */

@import "../sass_content/sass/utilities/initial-variables"
$background: $white
$link: $cyan
$link-focus-border: $cyan
$code: darken($green, 10%)

$code-padding: 0.15rem

@import "_main"


