{% extends "base.html" %}
{% import 'post_item.html' as post_item %}

{% block header %}
<header class='hero'>
  <div class='hero-body pb-0'>
    <div class='container'>
      <div class='has-text-centered'>
        <h1 class="title">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-cube"></i>
            </span>
            <span>{{ term.name }}</span>
          </span>
        </h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        {% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = term.pages %}
        {% endif %}

        {% for page in pages %}
		{{ post_item::post_item_display(page=page) }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
