{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">



  {% if config.extra.galleria.enabled %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/galleria@1.6.1/dist/themes/folio/galleria.folio.min.css" integrity="sha384-+rY0QD+LRnTOquDMzGa9lXU6jIwdiQuwCJQ2cdcW0qeP/0UbjQCZlXnRsUMA+9pH" crossorigin="anonymous">
  {% endif %}

  {% if config.extra.mapbox.enabled %}
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" integrity="sha384-oGm59HWAkwO32h2w8u0B98wKBZJwd6MbWtAJwQKCTffZjOXHXrnyv9Syjovgc+UV" crossorigin="anonymous">
  {% endif %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1.9.1/css/academicons.min.css" integrity="sha384-FIue+PI4SsI9XfHCz8dBLg33b0c1fMJgNU3X//L26FYbGnlSEfWmNT7zgWc2N9b6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  {% block user_custom_stylesheet %}
  <link id="style-light" href="{{ get_url(path='bulma_light.css') }}" rel="stylesheet" media="not(prefers-color-scheme: dark)" />
  <link id="style-dark" href="{{ get_url(path='bulma_dark.css') }}" rel="stylesheet" media="(prefers-color-scheme: dark)" />
  {% endblock %}

  <title>
    {% block title %}
    {{ config.title }}
    {% endblock title %}
  </title>

  {% block analytics %}
  {% if config.extra.analytics.google %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.analytics.google }}"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "{{ config.extra.analytics.google }}");
  </script>
  {% endif %}
  {% endblock analytics %}

  {% block katex_scripts %}
  {% endblock katex_scripts %}
</head>

<body>
  <nav aria-label="section navigation" class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end has-text-centered">
          {% for item in config.extra.navbar_items %}
          {% if lang == item.code %}
          {% for nav in item.nav_items %}
          <a class="navbar-item has-text-weight-semibold" href="{{ nav.url | replace(from='$BASE_URL', to=config.base_url) }}">
            {{ nav.name }}
          </a>
          {% endfor %}
          {% endif %}
          {% endfor %}
          <a class="navbar-item" id="dark-mode" title="Switch theme">
            <span class="icon">
              <i class="fas fa-adjust"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>

  {% block header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block pagination %}
  {% if paginator.previous or paginator.next %}
  <section class="section">
    <div class="container">
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous" href='{{ paginator.previous }}' {% if not paginator.previous %}disabled{% endif %}>
          <span class="icon">
            <i class="fas fa-angle-double-left"></i>
          </span>
          Previous
        </a>
        <a class="pagination-next" href='{{ paginator.next }}' {% if not paginator.next %}disabled{% endif %}>
          Next page
          <span class="icon">
            <i class="fas fa-angle-double-right"></i>
          </span>
        </a>
        <ul class="pagination-list">
          {% for pager in range(start=1, end=paginator.number_pagers+1) %}
          <li>
            <a class="pagination-link {% if paginator.current_index == pager %}is-current{% endif %}" href='{{ paginator.base_url }}{{pager}}' aria-label="Goto page {{pager}}">
              {{pager}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </section>
  {% endif %}
  {% endblock %}

  {% block comment %}
  {% endblock %}

  {% block footer %}
  <footer class="footer py-4">
    <div class="content has-text-centered">
      <p>
        Built with
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-code"></i>
          </span>
          <span>code</span>
        </span>
        and
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-heart"></i>
          </span>
          <span>love</span>
        </span>
      </p>
      <p>
        Powered by
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-power-off"></i>
          </span>
          <span>zola</span>
        </span>
      </p>
    </div>
  </footer>
  {% endblock %}

  {% if config.extra.galleria.enabled %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/galleria@1.6.1/dist/galleria.min.js" integrity="sha384-QSfwGT8/EU536DKdtyP2D6SLlh8zBaZ0cVkwfrwhqzIU9VCfJT00CLVP5t+HAiYg" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/galleria@1.6.1/dist/themes/folio/galleria.folio.min.js" integrity="sha384-DwpKI+deZB267+hPKwiOIc5Y2GKsVL0mR6hgz7GgIu7AgAMYqJwcJKY1YBNfhWcY" crossorigin="anonymous"></script>
  {% endif %}
  {% if config.extra.mermaid.enabled %}
  <script src="https://cdn.jsdelivr.net/npm/mermaid@8.13.5/dist/mermaid.min.js" integrity="sha384-0yWn54pSGtfKCU+skfA69l25VsCw+MZt4LQov3xNRoS7YkAMrFokGgSBnAWSK4pv" crossorigin="anonymous"></script>
  {% endif %}
  {% if config.extra.chart.enabled %}
  <script src="https://cdn.jsdelivr.net/npm/chart.xkcd@1.1.13/dist/chart.xkcd.min.js" integrity="sha384-xC3h1+IHXK8seA+8KfT79Z4e0GPsznjXBoMa5nd8ooWKplPyXx92NOmljWxLC/cs" crossorigin="anonymous"></script>
  {% endif %}
  {% if config.extra.mapbox.enabled %}
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js" integrity="sha384-Pulw7+h73841BQIK0LzJCydKRPChJUF9w8h8W0o3h+cLtoyNPJS847bQauLWOTwg" crossorigin="anonymous"></script>
  {% endif %}
  {%- if lang != "en" -%}
  {%- block other_lang_search_js -%}
  {%- endblock -%}
  {%- endif -%}
  <script src="{{ get_url(path='js/site.js') }}"></script>

  {% block custom_js %}
  {% endblock %}

  {% block user_custom_js %}
  {% endblock %}
</body>

</html>
