{% extends 'base.html' %}

{% block title %}
{{ page.title }} | {{ config.title }}
{% endblock %}

{% block katex_scripts %}
{% if page.extra.katex %}
{% if config.extra.katex.enabled %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/mathtex-script-type.min.js" integrity="sha384-jiBVvJ8NGGj5n7kJaiWwWp9AjC+Yh8rhZY3GtAX8yU28azcLgoRo4oukO87g7zDT" crossorigin="anonymous"></script>
{% if config.extra.katex.auto_render %}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
{% endif %}
{% endif %}
{% endif %}
{% endblock katex_scripts %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <article class="box">
          <h1 class="title">
            {{ page.title }}
          </h1>
          <p class="subtitle">{{ page.description }}</p>
          <div class="columns is-multiline is-gapless">
            <div class="column is-8">
              {{ macros::page_publish_metadata(page=page) }}
            </div>
            <div class="column is-4 has-text-right-desktop">
              {{ macros::page_content_metadata(page=page) }}
            </div>
            <div class="column">
              {% if page.taxonomies.categories %}
              {{ macros::render_categories(categories=page.taxonomies.categories) }}
              {% endif %}
            </div>
            <div class="column has-text-right-desktop">
              {% if page.taxonomies.tags %}
              {{ macros::render_tags(tags=page.taxonomies.tags) }}
              {% endif %}
            </div>
          </div>
          <div class="content mt-2">
            {{ page.content | safe }}
          </div>
        </article>
      </div>
      {% if page.extra.toc %}
      <div class="column is-2 is-hidden-mobile">
        <aside class="menu" style="position: sticky; top: 48px">
          <p class="heading has-text-weight-bold">Contents</p>
          <ul class="menu-list">
            {% for h1 in page.toc %}
            <li>
              <a id="link-{{h1.id}}" class="toc is-size-7 {% if loop.first %}is-active{% endif %}"
                href="{{ h1.permalink | safe }}">
                {{ h1.title }}
              </a>
              {% if h1.children %}
              <ul>
                {% for h2 in h1.children %}
                <li>
                  <a id="link-{{h2.id}}" class="toc is-size-7" href="{{ h2.permalink | safe }}">
                    {{ h2.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block comment %}
{% if page.extra.comments and config.extra.commenting.disqus %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div id="disqus_thread"></div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}

{% block notice %}
{% if page.extra.hide_notice %}
{% else %}
<section class="section pt-0">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8 is-offset-2 mx-4">
        <article class="box message p-0">
          <div class="message-header">
            Advertisement
          </div>
          <div class="message-body">
            I'm looking for summer internships.
            Please <a href="/">get in touch</a> if you're interested in hiring me!
          </div>
        <article>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}

{% block custom_js %}
{% if page.extra.toc %}
<script type="text/javascript">
  const menuBarHeight = document.querySelector("nav.navbar").clientHeight;
  const tocItems = document.querySelectorAll(".toc");
  const navSections = new Array(tocItems.length);

  tocItems.forEach((el, i) => {
    let id = el.getAttribute("id").substring(5);
    navSections[i] = document.getElementById(id);
  })

  function isVisible(tocIndex) {
    const current = navSections[tocIndex];
    const next = tocIndex < tocItems.length - 1 ? navSections[tocIndex + 1]
      : document.querySelectorAll("section.section").item(1);

    const c = current.getBoundingClientRect();
    const n = next.getBoundingClientRect();
    const h = (window.innerHeight || document.documentElement.clientHeight);

    return (c.top <= h) && (n.top - menuBarHeight >= 0);
  }

  function activateIfVisible() {
    for (b = true, i = 0; i < tocItems.length; i++) {
      if (b && isVisible(i)) {
        tocItems[i].classList.add('is-active');
        b = false;
      } else
        tocItems[i].classList.remove('is-active');
    }
  }

  var isTicking = null;
  window.addEventListener('scroll', () => {
    if (!isTicking) {
      window.requestAnimationFrame(() => {
        activateIfVisible();
        isTicking = false;
      });
      isTicking = true;
    }
  }, false);
</script>
{% endif %}

{% if page.extra.comments and config.extra.commenting.disqus %}
<script>
  var disqus_config = function () {
    this.page.url = "{{config.base_url | safe}}";
    this.page.identifier = "{{ current_path | safe}}";
  };

  (function () {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ config.extra.commenting.disqus | safe}}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{% endif %}
{% endblock %}
